body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f7f9fc;
}

.container {
    background-color: #e0e0e0;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 400px;
    text-align: center;
}

h2 {
    color: #333;
    margin-bottom: 20px;
}

input, select {
    width: 90%;
    padding: 8px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

button {
    width: 90%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #000b01;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #45a049;
}

#result {
    font-size: 16px;
    color: green;
    margin-top: 10px;
}